<div class="modal-header">
    <h3 class="modal-title"><i class="fa fa-edit"></i> Edit Experience</h3>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-sm-6">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="total" class="col-sm-5 control-label">Total XP</label>
                    <div class="col-sm-7">
                        <input type="number" id="total" class="form-control" placeholder="0" min="0" ng-model="experience.total">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-6">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="available" class="col-sm-5 control-label">Available XP</label>
                    <div class="col-sm-7">
                        <input type="number" id="available" class="form-control" placeholder="0" min="0" ng-model="experience.available">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-default" ng-click="$dismiss()"><i class="fa fa-times"></i> Cancel</button>
    <button class="btn btn-primary" ng-click="$close(experience)"><i class="fa fa-save"></i> Save</button>
</div>

